<div class="col-xs-12 col-sm-6 col-md-3">
    <a href="{{ link }}">
        <div class="panel panel-default user-small">
            <div class="panel-body">
                <div class="userpicsmallpic alert-info">{{ sign }}</div>
                <h4>{{ name }}</h4>
            </div>
            <div class="panel-footer">{{ locationName }}</div>
        </div>
    </a>
</div>