<a href="{{ friend.link }}" class="list-group-item">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <div class="userpicsmallpic alert-info">{{ friend.sign }}</div>
        </div>
        <div class="col-md-9 col-xs-12">
            <h4 class="list-group-item-heading">{{ friend.name }}</h4>
            <p class="list-group-item-text">{{ friend.location }}</p>
        </div>
    </div>
</a>